.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 50px;
  width: 80%;
  height: 100vh;

  background: linear-gradient(145deg, #545454, #272727);
}
